

hr{
  border-style: dotted none none;
  border-width: 10px;
  border-color: black;
  width: 3%;
  height: 0%;
}

h1{
font-family: 'Pacifico', cursive;
font-size: 40px;
line-height: 2;
font-weight: normal;

}
h2{
font-family: 'Poppins', sans-serif;
color: #11999E;
font-weight: normal;
font-size: 2rem;
}
h3{
  font-family: 'Merriweather', serif;
  color: #11999E;
}

body{
  margin: 0px;
  border: 0px;
  text-align: center;
}
.silhouette{

  position: relative;

}

.running{
  height: 25%;
  width: 25%;
  margin: 100px 30px 100px auto;
  float:left;

}
.sprinting{
  text-align: center;
  font-size: 1.5rem;
}
.writting{
  font-size: 1.5rem;
}
.paragraphsprinting{
  padding-top: 40px;
}
.skill-row{
  width: 50%;
  text-align: left;
  margin: 100px auto;
  line-height: 2;
}
.hand{
  height: 25%;
  width: 25%;
  float:right;
  margin: 30px auto 100px  30px;

}
.cloud{
position: absolute;
top: 0px;
width: 200px;
right: 200px;
}
.cloudva{
  position: relative;
  height: 200px;
  width: 200px;
  left: 300px;
  bottom: 20px;
}

.profile{
  position:relative;
}
.middle-container{
  background-color: #DEFCF9;
}
.footer-link{
  background-color: red;
}
.bottom-container{
    background-color: #3C84AB;
    margin: 0px;

}
.secondphoto{
  position:absolute;
  height: 200px;
  width: 200px;
  right: 690px;
  bottom: 170px;

}

.header{
  margin: 0px;
  position: relative;
  color: red;
  left: 320px;
  bottom: 800px;
}
.under{
  position: absolute;
  left: 55px;
  top: 60px;
  color: red;
}

.myphoto{
position:relative;
height: 300px;
width: 300px;
bottom: 300px;
left: 323px;

}
